@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@keyframes switchBG {
  0% {
    background-image: url("../images/carousel3.jpg");
  }
  33% {
    background-image: url("../images/carousel2.jpg");
  }
  75% {
    background-image: url("../images/carousel1.jpg");
  }
  100% {
    background-image: url("../images/carousel3.jpg");
  }
}
#indexHeader {
  animation-name: switchBG;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
.mHeader {
  background-color: #8f764b;
}

.btn-primary {
  background-color: #fff3cd;
  color: black;
  border-color: #fff3cd;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #6d5a1b;
  color: white;
  border-color: #fff3cd;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #8a7223;
  color: white;
  border-color: #fff3cd;
}
.btn-secondary {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
#navbar {
  background-color: #8f764b;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
.display-1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px #443811;
}
.display-2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
}
.display-3 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px #443811;
}
.lead {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
}
.nav-link {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px #443811;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: 600;
}
footer {
  background-color: #5f4f33;
}
.card-footer {
  background-color: #fdf5db;
}
.navbar-brand:hover {
  color: black;
}
::selection {
  color: white;
  background: #443811;
}
::-moz-selection {
  color: white;
  background: #443811;
}
